<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Sleep User#<%= title %></p>
    <p>Sleep Data is <%= SleepData %></p>
    <p>SleepStat is <%= SleepStat %></p>
    <p>Sleep Move is <%= SleepMove %></p>
    <p>Sleep Snore is <%= SleepSnore %></p>


  </body>
</html>
