<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Sleep User#<%= title %></p>
    <p>Sleep Data is <%= SleepData %></p>
    <p>Sleep Score is <%= SleepScore %></p>

  </body>
</html>
