<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Sleep User#<%= title %></p>
    <p>Sleep Move Data is <%= SleepData_move %></p>
    <p>Sleep Snore Data is <%= SleepData_snore %></p>

  </body>
</html>
